@model IEnumerable<CVGS.Models.Order>

@{
    ViewBag.Title = "Orders";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.processed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.username)
        </td>
        <td>
            @{
                String isProcessed = Convert.ToBoolean(item.processed).ToString();
                @Html.DisplayFor(modelItem => isProcessed)
            }
        </td>
        <td>
            @Html.ActionLink("Process", "ProcessOrder", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id })
        </td>
    </tr>
}
</table>
